.container-form .text-form p {
  font-size: 16px;
  font-weight: var(--text-weight);
  text-align: center;
  line-height: 28px;
  margin-bottom: 56px;
}
.campo-form label{
    font-size: 20px;
    color: var(--text-primary-color);
    font-weight: var(--text-weight);
    line-height: 32px;
}
.campo-form input{
    width: 312px;
}