.payments .content-container .image-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  width: 100%;
  margin-bottom: 88px;
}

.payments .content-container .image-gallery .image.first {
  background: url(../img/montagem-japao-1.png) no-repeat;
  background-size: cover;
}
.payments .content-container .image-gallery .image.second {
  background: url(../img/montagem-japao-2.png);
  background-size: cover;
}
.payments .content-container .image-gallery .image.third {
  background: url(../img/montagem-japao-3.png);
  background-size: cover;
}
.payments .content-container .image-gallery .colspan-2 {
  grid-column: span 2;
}

/* PACOTES DE VIAGENS */
.payments .content-container .travel-packages .image.first {
  background: url(../img/montagem1-pacotes-mobile.png) no-repeat;
  background-size: cover;
}
.payments .content-container .travel-packages .image.second {
  background: url(../img/montagem2-pacotes-mobile.png) no-repeat;
  background-size: cover;
}
.payments .content-container .travel-packages .image.third {
  background: url(../img/montagem3-pacotes-mobile.png) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .payments .content-container .image-gallery .image.first {
    background: url(../img/montagem-pacotes-japao-1-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .image-gallery .image.second {
    background: url(../img/montagem-pacotes-japao-2-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .image-gallery .image.third {
    background: url(../img/montagem-japao-3-tablet.png) no-repeat;
    background-size: cover;
  }
  /* PACOTES DE VIAGENS */
  .payments .content-container .travel-packages .image.first {
    background: url(../img/montagem1-pacotes-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .travel-packages .image.second {
    background: url(../img/montagem2-pacotes-tablet.png) no-repeat;
    background-size: cover;
  }
  .payments .content-container .travel-packages .image.third {
    background: url(../img/montagem3-pacotes-tablet.png) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1440px) {
  .payments .content-container {
    display: flex;
    justify-content: space-between;
  }
  .payments .content-container .text-content {
    width: 360px;
  }
  .payments .content-container .image-gallery {
    width: 790px;
    margin: 0;
  }
  .image.first {
    background: url(../img/montagem-japao-1-desktop.png) no-repeat;
    width: 383.5px;
  }
  .image.second {
    background: url(../img/montagem-japao-2-desktop.png) no-repeat;
    width: 383.5px;
  }
  .image.third {
    background: url(../img/montagem-japao-3-desktop.png) no-repeat;
    width: 790px;
  }
  /* PACOTES DE VIAGENS */
  .payments .content-container .travel-packages .image.first {
    background: url(../img/montagem1-pacotes-desktop.png) no-repeat;
    width: 383.5px;
  }
  .payments .content-container .travel-packages .image.second {
    background: url(../img/montagem2-pacotes-desktop.png) no-repeat;
    width: 383.5px;
  }
  .payments .content-container .travel-packages .image.third {
    background: url(../img/montagem3-pacotes-desktop.png) no-repeat;
    width: 790px;
  }
}
